@import url("https://www.w3schools.com/w3css/4/w3.css");

.noselect {
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
}

a:link {
  text-decoration: none;
}
