.player {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
}

.overlay {
  background: transparent;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.overlay-topbar {
  position: fixed;
  top: 10px;
}

.overlay-bottombar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.overlay-button {
  transition: ease 150ms;
  width: 15% !important;
}

.overlay-button:hover {
  background: transparent !important;
  color: white !important;
  transform: scale(1.2);
}

.bar-third {
  width: 33% !important;
}

.title {
  width: 100% !important;
  user-select: none;
}

#back-btn {
  width: 75px !important;
}

#fullscreen-btn {
  padding-right: 75px;
}

@media screen and (min-width: 801px) {
  .overlay-button {
    font-size: 32px;
  }
}

@media screen and (min-width: 1367px) {
  .overlay-button {
    font-size: 48px;
  }
}
