body {
  background-color: black;
  color: white;
}

.player {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
}

.overlay {
  background: transparent;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.overlay-topbar {
  position: fixed;
  top: 10px;
}

.overlay-bottombar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.overlay-button {
  transition: ease 150ms;
  width: 15%;
}

.overlay-button:hover {
  transform: scale(1.2);
}

.title {
  max-width: fit-content;
}

.bar-third {
  width: 33%;
  display: flex;
  flex-direction: row;
}

.left-buttons {
  justify-content: left;
}

.title-bar {
  justify-content: center;
}

.right-buttons {
  justify-content: right;
}

.title {
  width: 100% !important;
  user-select: none;
}

.btn-transparent {
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

#back-btn {
  width: 75px !important;
}

#fullscreen-btn {
  padding-right: 75px;
}

@media screen and (min-width: 801px) {
  .overlay-button {
    font-size: 32px;
  }
}

@media screen and (min-width: 1367px) {
  .overlay-button {
    font-size: 48px;
  }
}
