<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INTFLX</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'flicker_core/global.css' %}" />
    <link rel="stylesheet" href="{% static 'flicker_core/browse.css' %}" />
  </head>
  <body>
    {# TOPBAR: home, genres/types, search, account #}
    <header class="topbar">
      <div class="topbar-left">
        <a href="#" class="navlink homelink"><b>INTFLX</b></a>
        <a href="#" class="navlink movielink">Movies</a>
        <a href="#" class="navlink showlink">Shows</a>
        <a href="#" class="navlink searchlink">Search</a>
      </div>

      <div class="topbar-right">
        {% if user.is_authenticated %}
          {# <p>User: {{ user.get_username }}</p> #}
          <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="navlink logoutlink">Logout</button>
          </form>
        {% else %}
          <a href="{% url 'login' %}?next={{ request.path }}" class="navlink accountlink">Login</a>
        {% endif %}

        <a href="#" class="navlink accountlink">Account</a>
      </div>
    </header>
    <main>
      <!-- TODO Add preview or image top item -->
      <div class="sections-list">
        {% for section in sections %}
          <h2>{{ section.title }}</h2>

          <div class="section-container">
            {% for card in section.cards %}
              <div class="media-card">
                <a href="{% url 'watch' card.id %}">
                  {% with thumbnail_path='flicker_files/'|add:card.thumbnail_uri %}
                    <img src="{% static thumbnail_path %}" alt="showing" class="thumbnail-img" />
                  {% endwith %}
                </a>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </main>
  </body>
</html>
