<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'flicker_core/global.css' %}" />
    <link rel="stylesheet" href="{% static 'flicker_core/registration.css' %}" />
    {% block links %}

    {% endblock %}
    {% block title %}
      <title>Registration</title>
    {% endblock %}
  </head>
  <body class="w3-black">
    {% block content %}

    {% endblock %}
  </body>
</html>
