{% extends 'registration/base.html' %}

{% block content %}
  <h1 class="login-title noselect">INTFLX</h1>
  <div class="auth-card noselect">
    <form action="{% url 'login' %}" method="post" class="container">
      {% csrf_token %}
      <div>
        <div class="form-section">
          <p class="orange-text">{{ form.username.label }}</p>
          <p>{{ form.username }}</p>
        </div>
        <br />
        <div class="form-section">
          <p class="orange-text">{{ form.password.label }}</p>
          <p>{{ form.password }}</p>
        </div>
      </div>
      <br />
      {% if form.errors %}
        <p class="login-error">Your username and/or password are incorrect. Please try again.</p>
        <br />
      {% endif %}
      <input class="submit-button" type="submit" value="LOGIN" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <p class="container">
      <a href="{% url 'password_reset' %}">Forgot password?</a>
      <span>&nbsp;</span>
      <a href="{% url 'signup' %}">Create an account</a>
    </p>
  </div>
{% endblock %}
