{% extends 'registration/base.html' %}

{% block content %}
  {% if validlink %}
    <a href="{% url 'browse' %}"><h1 class="noselect login-title">INTFLX</h1></a>
    <div class="noselect auth-card">
      <form action="" method="post" class="container">
        {% csrf_token %}
        <div class="form-section">
          <p>{{ form.new_password1.errors }}</p>
          <p class="orange-text">{{ form.new_password1.label }}</p>
          <p>{{ form.new_password1 }}</p>
        </div>
        <div class="form-section">
          <p>{{ form.new_password2.errors }}</p>
          <p class="orange-text">{{ form.new_password2.label }}</p>
          <p>{{ form.new_password2 }}</p>
        </div>
        <p></p>
        <input type="submit" value="Change password" class="submit-button" />
      </form>
    </div>
  {% else %}
    <h1>Password reset failed</h1>
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
  {% endif %}
{% endblock %}
