{% extends 'registration/base.html' %}

{% block content %}
  <form action="{% url 'password_reset' %}" method="post" class="w3-container w3-center">
    {% csrf_token %}
    {% if form.email.errors %}
      {{ form.email.errors }}
    {% endif %}
    <p class="w3-text-deep-orange w3-xlarge">{{ form.email.label }}</p>
    <p>{{ form.email }}</p>
    <input type="submit" class="w3-button w3-deep-orange w3-text-black w3-hover-deep-orange w3-hover-text-black submit-button w3-large w3-round" value="Reset password" />
  </form>
{% endblock %}
