{% extends 'registration/base.html' %}

{% block content %}
  {% if form.errors %}
    <p class="login-error">ERROR - DEBUG</p>
    <br />
  {% endif %}

  <h1 class="noselect login-title">INTFLX</h1>
  <h2 class="noselect create-text">Create Account</h2>
  <div class="noselect auth-card">
    <form action="{% url 'signup' %}" method="post" class="container">
      {% csrf_token %}
      <div class="form-section">
        <p class="orange-text">{{ form.username.label }}</p>
        <p>{{ form.username }}</p>
      </div>
      <div class="form-section">
        <p class="orange-text">{{ form.email.label }}</p>
        <p>{{ form.email }}</p>
      </div>
      <div class="form-section">
        <p class="orange-text">{{ form.password1.label }}</p>
        <p>{{ form.password1 }}</p>
      </div>
      <div class="form-section">
        <p class="orange-text">{{ form.password2.label }}</p>
        <p>{{ form.password2 }}</p>
      </div>
      <br />
      <input class="submit-button" type="submit" value="Submit" />
    </form>

    <p class="container">
      <a href="{% url 'login' %}">Already have an account?<br />Login</a>
    </p>
  </div>
{% endblock %}
